.main-header {
    padding: 80px 35px;
    background-image: url(/resources/png/bg-header-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-header h1 {
    padding: 20px 0;
    font-size: 28px;
    font-weight: var(--bold);
    color: var(--dark-grayish-blue);
    line-height: 1.5;
    text-align: center;
}

.main-header p {
    color: var(--grayish-blue);
    font-size: 18px;
    font-weight: var(--semi-bold);
    line-height: 1.6;
    text-align: center;
    width: 350px;
}

.links-section {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

@media screen and (min-width: 1024px) {
    .main-header {
        background-image: url(/resources/png/bg-header-desktop.png);
    }

    .main-header h1 {
        font-size: 36px;
    }

    .main-header p {
        font-size: 20px;
        width: 690px;
    }

    .links-section {
        flex-direction: row;
        justify-content: space-between;
        width: 600px;
        margin-top: 50px;
    }
}

