.align-items-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    color: var(--white);
    font-weight: var(--bold);
    border: none;
    outline: none;
    border-radius: 40px;
    margin: 10px 0;
    text-decoration: none;
    padding: 15px;
    width: 315px;
    box-shadow: rgba(0, 0, 0, .4) 0 5px 10px;
}

.link-cyan {
    background-color: var(--strong-cyan);
   
}

.link-blue {
    background-color: var(--light-blue);
}

@media screen and (min-width: 1024px) {
    .links {
        width: 250px;
    }

    .link-cyan:hover {
        background-color: var(--dark-grayish-blue);
        transition: .4s;
    }

    .link-blue:hover {
        background-color: var(--dark-grayish-blue);
        transition: .4s;
    }
}