:root {
    /* Primary Colors */
    --white: #ffffff;
    --high-white: #F5F6F8;
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    /* Neutral Colors */
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);

    /* Weights */
    --semi-bold: 400;
    --bold: 600;

    /* Font family */
    --bai-jamjuree: 'Bai Jamjuree', sans-serif;

}